<%- include('../partials/header', { usuario: usuario }) %>
<main>
  <h1>Senha atualizada</h1>
  <p>Sua senha foi alterada com sucesso. <a href="/login">Entrar</a></p>
</main>
<%- include('../partials/footer') %>
