<%- include('../partials/header', { usuario: usuario }) %>
<main>
  <h1>Nova senha</h1>
  <% if (erro) { %><p style="color:red"><%= erro %></p><% } %>
  <form method="POST" action="/resetar-senha">
    <input type="hidden" name="token" value="<%= token %>" />
    <div><label>Nova senha: <input type="password" name="senha" required></label></div>
    <div><label>Confirmar senha: <input type="password" name="senha_confirm" required></label></div>
    <button type="submit">Atualizar senha</button>
  </form>
</main>
<%- include('../partials/footer') %>
