<link rel="stylesheet" href="/css/footer.css">

<footer class="footer">
  <div class="container">
    <p>&copy; <%= new Date().getFullYear() %> Controle+. Todos os direitos reservados.</p>
  </div>
</footer>
