<%- include('../partials/header', { usuario: usuario }) %>
<link rel="stylesheet" href="/css/formEditar.css" />

<main class="form-container">
  <h1>Adicionar Produto</h1>

  <form action="/produtos/salvar" method="POST">
    <div class="form-group">
      <label>Nome:</label>
      <input type="text" name="nome" required />
    </div>

    <div class="form-group">
      <label>Descrição:</label>
      <textarea name="descricao"></textarea>
    </div>

    <div class="form-group">
      <label>Preço de custo:</label>
      <input type="number" step="0.01" name="preco_custo" />
    </div>

    <div class="form-group">
      <label>Preço de venda:</label>
      <input type="number" step="0.01" name="preco_venda" required />
    </div>

    <div class="form-group">
      <label>Quantidade:</label>
      <input type="number" name="quantidade" min="0" />
    </div>

    <button type="submit">Salvar</button>
  </form>

  <a href="/produtos">Voltar</a>
</main>

<%- include('../partials/footer.ejs') %>
